.carousel {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 330px;
  &,
  * {
    transition: ease-in-out 0.3s;
  }
  ul {
    margin: 0;
    z-index: 1;
    padding: 0;
    width: 100%;
    li {
      position: absolute;
      top: 0;
      left: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      &,
      * {
        transition: ease-in-out 1s;
      }
      &.active {
        left: 50%;
        margin-left: -400px;
        .caption {
          opacity: 1;
        }
      }
      &.out {
        left: -100%;
      }
      .caption {
        color: #33f;
        opacity: 0;
      }
    }
  }
  button {
    z-index: 2;
    position: absolute;
    top: 50%;
    background: url(../img/arrow.svg) no-repeat center center #7777;
    background-size: contain;
    border: solid 0px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    left: 5px;
    margin-top: -39px;
    transform: rotate(180deg);
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &:last-child {
      left: auto;
      right: 5px;
      transform: rotate(0deg);
    }
    &:disabled {
      opacity: 0.2;
    }
  }
}
