@import url("https://fonts.google.com/specimen/Ropa+Sans");
.App {
  * {
    font-family: "Ropa Sans", sans-serif;
  }
  header {
    background-color: #eee;
    color: #00f;
    padding: 0.4em;
    font-size: 3em;
  }
}
